DB_HOST=localhost
DB_PORT=3306
DB_NAME=beauty_care
DB_USERNAME=root
DB_PASSWORD=
DB_DIALECT=mysql
PORT=8088
CLIENT_URL=http://localhost:5173
JWT_SECRET=beauty_care_secret_key_2024
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=329712502742-eva8o5epeegmbd724b6lvv1ir1mugqk3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

PAYOS_CLIENT_ID=b6976dbb-9d7d-434c-9b4f-d5e62b3b9fa9
PAYOS_API_KEY=5fcefd59-1407-43a0-8673-30827d9c8ccc
PAYOS_CHECKSUM_KEY=9a44f55589f94606db54133e364a1ca1dae96546aefedc2c575f741f43290cec

