DB_HOST=localhost
DB_PORT=3306
DB_NAME=beauty_care
DB_USERNAME=root
DB_PASSWORD=your_password_here
DB_DIALECT=mysql
PORT=8080
CLIENT_URL=http://localhost:3000

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_FOLDER=BeautyCare
